$color-milky:#ebebeb;
$color-eclipse:#3D3736;
$font-family:Corbel, "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", "Bitstream Vera Sans", "Liberation Sans", Verdana, "Verdana Ref", sans-serif;
$font-menu:12px Tahoma, Arial;
$font-family-des:Helvetica, Arial, sans-serif;