#title_div
{
	height: 180px;
	border: 0px;
	background: $color-eclipse;
	padding: 0px 0px;
	margin: 0px;
	text-align: center;
}

#site_logo_div
{
	width: 342px;
	height: 140px;

	padding-top: 20px;
	margin: 0px auto;
}

#cityu_logo_div
{
	display: inline-block;
	float: right;

	width: 149px;
	height: 81px;

	padding-top: 70px;
	padding-right: 30px;
}
